* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  border-radius: 0.25em;
}

body {
  background-color: #E4E4E4;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.logo {
  font-family: "Oleo Script", sans-serif;
  color: white;
  padding: 0 0.35em;
  border-radius: 0.25em;
  letter-spacing: 2px;
  font-size: 2em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  header {
    justify-content: space-between;
  }
}
header .logo {
  background-color: #FC4887;
  display: inline-block;
}
header #hamburger {
  display: none;
}
header #hamburger:checked ~ .menu {
  display: flex;
}
header .hamburger__toggle {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}
header .hamburger__toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #FC4887;
  transition: 0.3s all ease-in-out;
}
@media only screen and (min-width: 768px) {
  header .hamburger__toggle span {
    display: none;
  }
}
header .menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  header .menu {
    display: flex;
  }
}
header .menu .menu__item {
  padding: 0.5em 1em;
  font-weight: bold;
  border-radius: 0.25em;
}
header .menu .menu__item--active {
  background-color: #444444;
  color: #E4E4E4;
}

.welcome {
  background-color: white;
  padding: 1em;
  margin-top: 1em;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  .welcome {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
}
.welcome .welcome__text {
  text-align: center;
  padding: 1em 2em;
}
@media only screen and (min-width: 768px) {
  .welcome .welcome__text {
    text-align: left;
    max-width: 430px;
  }
}
.welcome .welcome__text .title {
  font-weight: 800;
}
.welcome .welcome__text .subtitle {
  font-weight: 300;
  color: rgba(68, 68, 68, 0.49);
}
.welcome .welcome__buttons {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}
@media only screen and (min-width: 768px) {
  .welcome .welcome__buttons {
    width: 255px;
  }
}
.welcome .welcome__buttons .button {
  margin: 0.25em 0;
  padding: 0.5em 0;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .welcome .welcome__buttons .button {
    font-size: 1.5em;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
  }
}
.welcome .welcome__buttons .button-primary {
  background-color: #1691C3;
  color: white;
}
.welcome .welcome__buttons .button-secondary {
  background-color: #E4E4E4;
  color: #444444;
}

.portfolio {
  margin-top: 1em;
}
@media only screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    gap: 1em;
  }
}
.portfolio .portfolio__item {
  background-color: white;
  overflow: hidden;
  border-radius: 0.25em;
}
.portfolio .portfolio__item .portfolio__item__thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio .portfolio__item .portfolio__item__header {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.portfolio .portfolio__item .portfolio__item__header .portfolio__item__title {
  font-weight: 800;
  font-size: 1em;
}
.portfolio .portfolio__item .portfolio__item__header .portfolio__item__subtitle {
  font-weight: 300;
  font-size: 0.8em;
}
.portfolio .portfolio__item .portfolio__item__description {
  line-height: 2em;
  padding: 0 2em 2em 2em;
}

section figure {
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  position: relative;
  width: 100%;
}
section figure iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
section .bg-cover {
  width: 100%;
  height: 100vh;
  background-image: url("image.png");
  background-size: cover;
  /* contain, 100% auto */
  background-repeat: no-repeat;
  background-color: transparent;
}
/*# sourceMappingURL=main.css.map */
