@use "sass:map";
@import "reset";
@import "colors";
@import "mixins";
@import "normalize";
@import "grid";

body {
  background-color: $main-background-color;
  font-family: "Open Sans", sans-serif;
  color: $main-text-color;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  
  #hamburger {
		display: none;
    &:checked{
        ~label {
          padding: 4px;
          justify-content:center;
          span{
            
            &:nth-child(1){
            transform: rotate(45deg) translate(3px);
          
          }
            &:nth-child(2){
          display: none;
          }
            &:nth-child(3){
            transform: rotate(-45deg) translate(3px);
          
          }
          }
        }
      ~ header {
      //display: flex;
      flex-direction: column;
      
        .menu{
        margin: 2.2em 0;
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 1;
        color: wheat;
          &::before{
          content: '';
          width: 50vw;
          height: 100vh;
          top: -5px;
          left: -5px;
          background-color: $main-text-color;
          border: 2px solid white;
          position: absolute;
          opacity: 50%;
          z-index:-1;
          @media only screen and (max-width:500px){
            width: 100vw;
          }
          
          }
        }      
      }
    }		
  }
.hamburger_toggle {
  position: fixed;
  z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 40px;
    @include tablet{
          display: none;
        }     
      span:nth-child(1){
        @extend %burger;
      }
      span:nth-child(2){
        @extend %burger;
      }
      span:nth-child(3){
        @extend %burger;
      }
}
}

.logo {
  font-family: 'Oleo Script', sans-serif;
  color: white;
  padding: 0 0.35em;
  border-radius: 0.25em;
  letter-spacing: 2px;
  font-size: 2em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    justify-content: space-between;
  }




  .logo {
    background-color: $main-logo-color;
    display: inline-block;
    position: relative;
  }





  .menu {
    display: none;

    @include tablet {
      display: flex
    }

    .menu__item {
      padding: 0.5em 1em;
      font-weight: bold;
      border-radius: 0.25em;
    }

    .menu__item--active {
      background-color: $main-text-color;
      color: $main-background-color
    }
  }
}

.welcome {
  background-color: white;
  padding: 1em;
  margin-top: 1em;
  border-radius: 0.25em;
  @include tablet {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  }
  .welcome__text {
    text-align: center;
    padding: 1em 2em;


    @include tablet {
      text-align: left;
      max-width: 430px;
    }

    .title {
      font-weight: 800;
    }

    .subtitle {
      font-weight: 300;
      color: $secondary-text-color
    }
  }

  .welcome__buttons {
    //flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    @include tablet {
      width: 255px;
    }
    .button {
      
      @include tablet {
        font-size: 1.5em;
        padding: 0.5em 1em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1em;
      }
    }
  }
}

.portfolio{
    padding: 2em;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  @include tablet{
    display: flex;
    flex-direction: row;    
  } 

  & [class*="pic"]{
    background-size: 100% 95% ;
  }

  .portfolio__item{ 
    border-radius: 10px;
    background-color: white;
    margin: 1em ;
    
    height: 100vh;
    min-height: 450px;
    max-width: 350px;
    box-shadow: -1px 5px 5px -1px rgba(191,191,191,0.67);
    @include desktop{
      height: 70vh;
    }
    @include tablet{
      height: 70vh;
    }
    .portfolio__item__thumbnail{
    height: 50%;
    }
    .portfolio__item__header{
      // tytuł i podtytuł
      display: flex;
      flex-direction: column;
    }
    .portfolio__item__description{
    // opis
    display: block;
    margin: 0 1em;
    }
  }
}

.kontakt {
    padding: 2em;
    background: white;
    margin-bottom: 2em;
    @include desktop{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .button{
      @include desktop{
      width: 50%;
      }
    }
		&__first {
      @include desktop{
        width: 60%;
        margin: 1em;
      }
      .kontakt__title{
      font-size: 3em;
      font-weight: 800;
		}
		}
    .button{
      font-size: 2em;
      @include desktop{
        font-size: 1.5em;
      }
    }
		&__text {
      margin: 2em 0;
      a{
        color: $button-border-color;     
      }
		}
    &__line{
      border: 1px solid $main-background-color;
      margin: 3em 0;
      @include desktop{
        display: none;
      }
    }
	&__second{
    @include desktop{
  flex-grow: 1;
  margin: 1em;
  }
  
  }
  .grid{
    @include desktop{
      margin-bottom: 2em;
    }
    .row{
    height: 250px;
    @include desktop{
      height: 100px;
      }
      [class*="col-"]:first-child{
        margin-left: 0;
      }
    }
  }  
}

.footer {

  &__kontakt--title {
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 1em;
		}


		&__grid {
      
      @include desktop{
          display: flex;
      }
      [class*="col-"]:last-child{
        display: none;
        @include tablet{
          display:block;
        }
      }
      .row{
        margin-bottom: 2em;
        @include desktop{
        min-width: 50%;
        font-size: 0.9em;
        
      }
		}
  & hr{
    border: 1px solid $secondary-text-color;
    margin-left: 0.5em;
    margin-bottom: 2em;
  @include tablet {
    display: none;
  }
  }


    & a{
  color: $main-text-color;
  display: block;
  margin-bottom: 1em;
  }
  .row:last-child .col-6:last-child * {
    &:not(i){
    margin-bottom: 1.3em;
    }
    
  }
    .fab {
    padding: .5em;
    border-radius: .5em;
    background-color: $main-text-color;
    color: $main-background-color;
    }
  }
}
